{#
/**
 * @file
 * Theme override to display a node.
 *
 * Available variables:
 * - node: The node entity with limited access to object properties and methods.
     Only "getter" methods (method names starting with "get", "has", or "is")
     and a few common methods such as "id" and "label" are available. Calling
     other methods (such as node.delete) will result in an exception.
 * - label: The title of the node.
 * - content: All node items. Use {{ content }} to print them all,
 *   or print a subset such as {{ content.field_example }}. Use
 *   {{ content|without('field_example') }} to temporarily suppress the printing
 *   of a given child element.
 * - author_picture: The node author user entity, rendered using the "compact"
 *   view mode.
 * - metadata: Metadata for this node.
 * - date: Themed creation date field.
 * - author_name: Themed author name field.
 * - url: Direct URL of the current node.
 * - display_submitted: Whether submission information should be displayed.
 * - attributes: HTML attributes for the containing element.
 *   The attributes.class element may contain one or more of the following
 *   classes:
 *   - node: The current template type (also known as a "theming hook").
 *   - node--type-[type]: The current node type. For example, if the node is an
 *     "Article" it would result in "node--type-article". Note that the machine
 *     name will often be in a short form of the human readable label.
 *   - node--view-mode-[view_mode]: The View Mode of the node; for example, a
 *     teaser would result in: "node--view-mode-teaser", and
 *     full: "node--view-mode-full".
 *   The following are controlled through the node publishing options.
 *   - node--promoted: Appears on nodes promoted to the front page.
 *   - node--sticky: Appears on nodes ordered above other non-sticky nodes in
 *     teaser listings.
 *   - node--unpublished: Appears on unpublished nodes visible only to site
 *     admins.
 * - title_attributes: Same as attributes, except applied to the main title
 *   tag that appears in the template.
 * - content_attributes: Same as attributes, except applied to the main
 *   content tag that appears in the template.
 * - author_attributes: Same as attributes, except applied to the author of
 *   the node tag that appears in the template.
 * - title_prefix: Additional output populated by modules, intended to be
 *   displayed in front of the main title tag that appears in the template.
 * - title_suffix: Additional output populated by modules, intended to be
 *   displayed after the main title tag that appears in the template.
 * - view_mode: View mode; for example, "teaser" or "full".
 * - teaser: Flag for the teaser state. Will be true if view_mode is 'teaser'.
 * - page: Flag for the full page state. Will be true if view_mode is 'full'.
 * - readmore: Flag for more state. Will be true if the teaser content of the
 *   node cannot hold the main body content.
 * - logged_in: Flag for authenticated user status. Will be true when the
 *   current user is a logged-in member.
 * - is_admin: Flag for admin user status. Will be true when the current user
 *   is an administrator.
 *
 * @ingroup templates
 *
 * @see template_preprocess_node()
 *
 * @todo Remove the id attribute (or make it a class), because if that gets
 *   rendered twice on a page this is invalid CSS for example: two lists
 *   in different view modes.
 */
#}

{{ attach_library('bootstrap_aveyron/leaflet') }}
{{ attach_library('bootstrap_aveyron/fancybox') }}
{{ attach_library('bootstrap_aveyron/script-ens') }}

  <div id="popup" class="popup">
    <div class="js-inner-popup inner-popup">
      <h2 class="js-title text-center">Bravo!</h2>
      <h3 class="js-sub-title text-center"></h3>
      <button class="js-btn-close btn btn-default btn-special">Retourner au quizz</button>
    </div>
  </div>

  <!-- total main content should not be indide a single region -->
  <section class="headband" style="background-image: url({{ file_url(content.field_poster['#items'].entity.uri.value) }})">
    <h1>{{ node.title.value }}</h1>
    <span class="arianne">
      <a href="{{ url('<front>') }}">Accueil</a> > <a href="{{ url('<front>') }}les-espaces-naturels">les espaces naturels</a> > <b>{{ label }}</b>
    </span>
  </section>

   <!-- <pre>{{  dump(data) }}</pre> -->

   <div class="outer"></div>

  <div class="container">
    <ul class="col-xs-12 nav nav-tabs" role="tablist">

      <li role="presentation" class="active">
        <a href="#home" aria-controls="home" data-toggle="tab">Description</a>
      </li>
      <li role="presentation">
        <a href="#spacies" aria-controls="spacies" data-toggle="tab">Les espèces</a>
      </li>
      <li role="presentation">
        <a href="#quizz" aria-controls="quizz" data-toggle="tab">Quizz</a>
      </li>
    </ul>
  </div>








<div class="tab-content">


  <div class="tab-pane active" id="home">
   <div class="outer small"></div>
   <section class="container">
      <div class="col-sm-7">
        <div class="content">
        {{ content.body }}
        <br/>
        <h3>RECOMMANDATIONS</h3>
        {{ data.recommandations|raw }}
        </div>
        <div class="col-xs-12 text-center">


          <a href="{{ file_url(node.field_pdf_ens.entity.fileuri) }}" class="btn btn-default btn-main" target="_blank">Voir la balade du site</a>
        </div>
      </div>

      <div class="col-sm-offset-1 col-sm-4">
        <h4>Carte de l'espace Naturel</h4>
        <div id="map" class="map"></div>
      </div>
  </section>

  <div class="outer big"></div>
  <div class="outer"></div>

  <section class="clearfix">
    {% for video in data.videos %}

      <iframe class="col-xs-12 col-sm-4 no-padding" frameborder="0" src="//www.dailymotion.com/embed/video/{{ video.field_video_ens_value }}" allowfullscreen></iframe>

    {% endfor %}
    {# content.field_video_ens #}
  </section>

  <div class="outer"></div>

  <section class="container">
    <div class="clearfix">
      <div class="col-sm-8">
      <h2>Galerie</h2>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aspernatur minus labore quo consequatur magnam, culpa velit est quae possimus nostrum numquam, doloribus quos eos aliquam. Debitis ex odit vitae iusto. <a href="{{ url('<front>') }}galerie">En voir +</a></p>
      </div>
    </div>

    <div class="outer small"></div>

    <div class="clearfix">
      <div class="col-sm-8 clearfix gallery">


        {% for picture in data.pictures %}

            <div class="js-figure img-block-link col-md-4" href="{{picture.uri}}" data-fancybox="group" thematique="{{picture.tag}}" data-caption="{{picture.field_gallery_alt}}">

              <div class="bg" style="background: url( {{picture.uri}} )"></div>
              <div class="abs">
                <div class="zoom">
                  <div>
                    <h2>{{picture.field_gallery_title}}</h2>
                    <span class="credit">
                    </span>
                  </div>
                  <figcaption>
                      {{picture.field_gallery_title}}
                  </figcaption>
                </div>
              </div>
            </div>

        {% endfor %}


      </div>
      <div class="col-sm-4 ens-infos">
        <h5>Informations</h5>
          {{ data.info|raw }}

        <div class="wrapper">
          <h5>Thematique similaire</h5>
          <div class="img-block-link alone col-md-12" thematique="">
            <div class="bg" style="background-image: url({{ data.similarsENS[0].uri }})">
            </div>
            <div class="abs">
              <a href="{{ url('<front>') }}{{ data.similarsENS[0].url_alias }} ">
                <div>
                  <h2>{{ data.similarsENS[0].title }}</h2>
                  <span class="distance"> _ KM du départ</span>
                </div>
              </a>
            </div>
          </div>
        </div>

        </div>
      </div>

    </section>
  </div>








  <div class="tab-pane spacies" id="spacies">

    <div class="outer"></div>

    <section class="container">
      <div class="col-xs-12">
        <div class="pull-left filter-btns">
          <button class="js-btn-filter btn btn-default btn-grey active" thematique="all">Tout</button>
          <button class="js-btn-filter btn btn-default btn-grey" thematique="faune">Faune</button>
          <button class="js-btn-filter btn btn-default btn-grey" thematique="flore">Flore</button>
        </div>
        <div class="pull-right">
          <!-- <button class="js-btn-filter btn btn-default btn-circle btn-grey">A</button>
          <button class="js-btn-filter btn btn-default btn-circle btn-grey">B</button> -->
        </div>
      </div>
    </section>

    <div class="outer"></div>

    <section class="js-figures container">
      <div class="col-xs-12">
        <div class="gallery clearfix">

          {% for taxon in data.taxons %}
            {% if loop.index == 3 or loop.index == 8 %}
              <div class="js-figure img-block-link col-md-6" href="{{taxon.uri}}" data-fancybox="group2" thematique="{{taxon.field_tag_value}}" data-caption="<a class='btn btn-primary' href='{{ url('<front>') }}{{taxon.url_alias}}'>voir la fiche {{taxon.title}}</a> <br> {{taxon.field_poster_alt}}">
            {% else %}
              <div class="js-figure img-block-link col-md-3" href="{{taxon.uri}}" data-fancybox="group2" thematique="{{taxon.field_tag_value}}" data-caption="<a class='btn btn-primary' href='{{ url('<front>') }}{{taxon.url_alias}}'>voir la fiche {{taxon.title}}</a> <br> {{taxon.field_poster_alt}}">
            {% endif %}
                <div class="bg" style="background: url( {{taxon.uri}} )">
                </div>
                <div class="abs">
                  <a href="{{ url('<front>') }}{{taxon.url_alias}}">
                    <div>
                      <h2>{{taxon.title}}</h2>
                      <span class="credit">
                      </span>
                    </div>
                    <figcaption>
                        {{taxon.title}}
                    </figcaption>
                  </a>
                </div>
            </div>
          {% endfor %}

        </div>
      </div>
    </section>

  </div>










  <div class="tab-pane" id="quizz">
    <div class="outer small"></div>

    <section class="container">
        <div class="col-sm-8">

          {% for item in data.quizz %}
            <article class="js-article-quizz quizz" answer="{{ item.answerCode }}">
              <h3>{{ item.title }}</h3>
              <div class="row img">
                <img class="col-xs-12" src="{{item.uri}}" alt="{{item.field_poster_alt}}" title="{{item.field_poster_title}}">
              </div>
              <div class="row btns">
              {% for prop in item.propositions %}
                  <div class="col-lg-4">
                  <button class="js-quizz-prop btn btn-default full-width" code="{{prop.code}}" title="{{ prop.proposition }}">
                    {{ prop.proposition }}
                  </button>
                  </div>
              {% endfor %}
              </div>
            </article>
          {% endfor %}


          <div class="col-xs-12 text-center">
              <button class="js-validate btn btn-default btn-special btn-main">Valider</button>
            </div>

        </div>

        <div class="col-sm-4">
          <h4>Carte de l'espace Naturel</h4>
          <div id="quizzMap" class="map"></div>
          <h4>Thématique similaire</h4>


          {% for ens in data.similarsENS %}
          <div class="img-block-link alone col-md-12">
            <div class="bg" style="background-image: url({{ ens.uri }})">
            </div>
              <div class="abs">
              <a href="{{ url('<front>') }}{{ ens.url_alias }}">
                <div>
                  <h2>{{ ens.title}}</h2>
                  <span class="distance"> _ KM du départ</span>
                </div>
              </a>
              </div>
          </div>
          {% endfor %}

        </div>
    </section>
  </div>

</div>



<script>
  // encode data for use in js file (themes/bootstrap_aveyron/scripts/script-ens.js)
  var geoDataStarterPoint = {{ data.depart|json_encode()|raw }};
  var geoDataTracePoint = {{ data.trace|json_encode()|raw }};
</script>
