{#
/**
 * @file
 * Theme override to display a region.
 *
 * Available variables:
 * - content: The content for this region, typically blocks.
 * - attributes: HTML attributes for the region div.
 * - region: The name of the region variable as defined in the theme's
 *   .info.yml file.
 *
 * @ingroup templates
 *
 * @see template_preprocess_region()
 */
#}

<div class="row preFooter" id="footer">
	<div class="container">
		<div class="col-md-6 leftZone">
			<div class="pull-right">
				<p class="follow">Suivez-nous <span class="icon_twt"></span><span class="icon_rss"></span></p>
			</div>
			<div class="col-sm-8 col-xs-12 no-padding"><p>Découvrez l'application mobile!</p></div>
			<div class="mobile">
				<a href="https://play.google.com/store/apps/details?id=fr.aveyron.espacenature" class="btn">
					<span class="icon icon-android"></span>
					<span>Disponible sur Google play</span>
				</a>
				<a href="https://itunes.apple.com/us/app/espace-nature-aveyron/id1240369282?l=fr&ls=1&mt=8" class="btn">
					<span class="icon icon-apple"></span>
					<span>Disponible sur Apple store</span>
				</a>
			</div>
		</div>
		<div class="col-md-6 rightZone">
			<div class="row wrapperGris">
				<a href="http://aveyron.fr/" target="blank" class="col-sm-2 logoBlock"></a>
				<div class="col-sm-4 infoBlock">
					{{ infoFooter.address[0].field_infos_gris_value|raw }}
				</div>
				<a href="contact" class="col-sm-6 contactBlock">
					<p class="preTitle">
						<br>
						Contactez-nous
						<br><br>
					</p>
				</a>
			</div>
		</div>
	</div>
</div>
<div class="row footerAveyron">
	<div class="container">
		<div class="col-md-3 block">
			<p class="preTitle">navigation</p>
			{% for link in infoFooter.links %}
				{% if link.link__uri == "" %}
				    <a href="{{ url('<front>') }}">{{ link.title }}</a>
				{% else %}
			    	<a href="{{ link.link__uri }}">{{ link.title }}</a>
				{% endif %}
			{% endfor %}

		</div>
		<div class="col-md-3 block">
			<p class="preTitle">informations</p>
			{{ infoFooter.infos[0].field_footer_zone_information_value|raw }}
		</div>
		<div class="col-md-3 block">
			<p class="preTitle">partenaires</p>
			{{ infoFooter.parts[0].field_footer_zone_partenaires_value|raw }}
		</div>
		<div class="col-md-3 block">
			<p class="preTitle">liens</p>
			{{ infoFooter.external[0].field_footer_zone_liens_value|raw }}
		</div>
	</div>
</div>