<section class="headband" style="background-image: url({{ data.imageOnTop.uri }});">
	<h1>{{ data.title }}</h1>

	<span class="arianne">
		<a href="{{ url('<front>') }}">Accueil</a> > <b>{{ data.title }}</b>
	</span>
</section>

<pre>{{  dump(data) }}</pre>
<!-- <pre>{#  dump(data) #}</pre> -->
<div class="outer big"></div>

<section class="section">
	<div class="container">

	</div>
</section>