<section class="headband" style="background-image: url({{ data.imageOnTop.uri }});">
	<h1>{{ data.title }}</h1>

	<span class="arianne">
		<a href="{{ url('<front>') }}">Accueil</a> > <b>{{ data.title }}</b>
	</span>
	<span class="credit">
	  {{ data.imageOnTop.field_poster_alt }}
	</span>
</section>

 <!-- <pre>{#  dump(data) #}</pre> -->

<div class="outer big"></div>

<section class="">
	<div class="container">

		{{ data.iframe|raw }}

	</div>
</section>