<div class="container-fluid wrapper">

	<div class="row fold1">
		<div class="col-lg-12 noPadding">
			<img src="{{ data.imageOnTop.uri }}" alt="{{ data.imageOnTop.field_image_on_top_alt }}" title="{{ data.imageOnTop.field_image_on_top_title }}">

			<div class="row buttonThematiqueRow">
				<div class="col-lg-12">
					<button class="btn btn-primary all selected">Tout</button>
				{% for thematique in data.thematiques %}
				    <button class="btn btn-primary {{thematique.title}} inverse">{{thematique.title}}</button>
				{% endfor %}
				</div>
			</div>

			<p class="arianne">Accueil > <b>les espaces naturels</b></p>

		</div>
	</div> <!-- fin fold1 -->

	<div class="container js-ens-container">


		<div class="row">

			{% for ens in data.ensFold2 %}
				{% if loop.index == 1 or loop.index == 10 %}
					<div class="ens col-md-8">
				{% else %}
					<div class="ens col-md-4">
				{% endif %}
						<div class="bg" style="background: url( {{ens.uri}} )">
						</div>
						<a class="abs" href="#">
							<div>
								<h3>{{ens.title}}</h3>
								<span class="distance"> KM</span>
							</div>
						</a>
				</div>
			{% endfor %}

		</div>
	</div><!-- fin ensContainer -->




</div> <!-- fin wrapper -->
<pre>{{  dump(data) }}</pre>

<script>
	document.addEventListener('DOMContentLoaded', function(event) {
		var $ = jQuery;
		var displayENS = function(thematique){

			// get number of all ENS
			var nbENS = allENS.length;

			// calc a number of ENS with different displayed in front
			var nbLongerENS = parseInt(nbENS / 5);
			// calc number of row we'll display with 3 ENS by row and the special display each 5 ENS
			var nbRowOfENS = parseInt((nbENS - nbLongerENS) / 3);
			

/*			allENS.forEach(function(ens, i) {
				var bg = ens;
				var size = 'col-sm-4';
				if(i === 0 || i === 9){
					console.log(ens);
					size = 'col-sm-8'
				}
				var ensTpl = '<div class="ens ' + size + '" >\
						<div class="bg" style="background: url(' + ens.uri + ')">\
						</div>\
						<a class="abs" href="plouf">\
							<div>\
								<h3>' + ens.title + '</h3>\
								<span class="distance"> KM</span>\
							</div>\
						</a>\
				</div>';

				
				$('.js-ens-container').append(ensTpl);

			});*/

		}

		var allENS = {{ data.ensFold2|json_encode()|raw }};
		displayENS("all");
	  
	});


</script>